p * indicates autoplay support
p Examples (no time limit)
ul
  li: a(href="/youtube/plWnm7UpsXk") YouTube*
  li: a(href="/vimeo/41406753") Vimeo*
  li: a(href="/veoh/v27458670er62wkCt") Veoh*
  li: a(href="/dailymotion/xleowq") Dailymotion*
  li: a(href="/myspace/106542984") Myspace*
  li: a(href="/facebook/610356308903") Facebook
  li: a(href="/veevr/T5J51C8k8") Veevr
  li: a(href="/novamov/hoow8o019xyg9") Novamov
p Examples (time limited)
ul
  li: a(href="/videozer/qYqP") VideoZer
  li: a(href="/videobb/0CPS18arWj0q") VideoBB
