p * indicates autoplay support
p Examples (no time limit)
ul
  li: a(href="/youtube/plWnm7UpsXk") YouTube*
  li: a(href="/vimeo/41406753") Vimeo*
  li: a(href="/veoh/v27458670er62wkCt") Veoh*
  li: a(href="/dailymotion/xleowq") Dailymotion*
  li: a(href="/myspace/106542984") Myspace*
  li: a(href="/facebook/610356308903") Facebook
  li: a(href="/veevr/T5J51C8k8") Veevr
  li: a(href="/sapo/08RmhlKi0w5aK59oEy34") Sapo
  li: a(href="/novamov/hoow8o019xyg9") Novamov
  li: a(href="/videoweed/2fq8jsbf9tdea") Videoweed
  li: a(href="/4vid/common%2FOG%2Fline_offline_-_salaryman_-_16.flv") 4vid
  li: a(href="/video44/common%2FOG%2Fline_offline_-_salaryman_-_16.flv") video44
  li: a(href="/yourupload/605907c01d21e8ac79b3b2767fc8493c") yourupload
  li: a(href="/vidzur/og1%2Fsakurasou_no_pet_na_kanojo_-_18.flv") vidzur
  li: a(href="/trollvid/995b015b") trollvid
p Examples (time limited)
ul
  li: a(href="/videozer/qYqP") VideoZer
  li: a(href="/videobb/0CPS18arWj0q") VideoBB
