<embed src="http://player.ku6.com/refer/#{id}/v.swf" width="#{width}" height="#{height}" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" flashvars="from=ku6"></embed>
