<embed src="http://www.tudou.com/a/#{id}/&bid=05/v.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" wmode="opaque" width="#{width}" height="#{height}"></embed>
